{% extends 'layout.html' %}

{% block body %}

<!--<div class="text-center  " style="border-radius: 20px;">-->

<div class="row justify-content-center h-100">


				<div id="rooms_area" class="col-12 col-md-4 col-xl-3 chat">
					<div class="card mb-sm-3 mb-md-0 contacts_card">
						<div class="card-header">
							<div class="input-group">
								<input type="text" placeholder="Search..." id="search_room" class="form-control search">
								<div class="input-group-prepend">
									<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
								</div>
							</div>
						</div>
	<!--					your friend  Room selection-->

						<div class="card-body contacts_body " style="text-align: center;">
							<ui class="contacts">

								{% for room in rooms %}
									<li >
										<div class="d-flex bd-highlight rooms_name" >
											<div class="room_info" >
												{{room}}
											</div>
										</div>
									</li>
								{% endfor %}

							</ui>
						</div>
						<div class="card-footer"></div>
					</div>
				</div>

				<div id="message_area" class=" col-xs-12 col-sm-12 col-md-8 col-xl-6 chat " >
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">

								<div class="heder_text">
									<span >Chat  </span> <span id="chats"> </span>
<!--									<p>1767 Messages</p>-->
								</div>
								<div class="video_cam ml-auto" >

									<span id="pick_room">Rooms <i class="fas fa-angle-down"></i></span>
								</div>
								<div id="pick_color">



									<form method="POST" >
										<select class="custom-select custom-select-sm" id="color" name="colors">
										  <option value="0">One</option>
										  <option value="1">Two</option>
										  <option value="2">Three</option>
										  <option value="3">Four</option>

										</select>
										<input type="submit" name="submit"/>
									</form>


								</div>

							</div>

						</div>
<!--						message area-->
						<div id="msg" class="card-body msg_card_body Overflow" >

<!--							display messages -->

							<div class="d-flex justify-content-start mb-4">

								<div class="msg_cotainer">

									Hey this is the default chat

									<span class="msg_time">9:12 AM, Today</span>
								</div>
							</div>
							<div class="d-flex justify-content-start mb-4">

								<div class="msg_cotainer ">
									 choose your chat room

									<span class="msg_time">9:12 AM, Today</span>
								</div>
							</div>


						</div>

						<div class="card-footer">

                                <div class="input-group">

                                    <div class="input-group-append">
                                        <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                                    </div>
    										<textarea name="msg" id="user_message" class="form-control type_msg" placeholder="Type your message..."></textarea>

                                    <div class="input-group-append">

										<button type="submit" id="send_message" class="input-group-text send_btn"> <i class="fas fa-location-arrow"></i></button>
                                    </div>

                                </div>

						</div>
					</div>
				</div>
			</div>

<script type="text/javascript">

	const username = `{{session['username']}}`;
	var rooms = `{{rooms|e}}`
	var color = `{{color}}`
</script>


<!--			SocketIO JS-->
			<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<!--			<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>-->
			<script src="{{ url_for('static', filename='script/socketio.js') }}">
			</script>
			<script src="{{ url_for('static', filename='script/home_page.js') }}">
			</script>

<!--</div>-->

{% endblock %}