{% extends 'layout.html' %}

{% block body %}

<div class="text-center jumbotron">
    <h3>Welcome in realtime Chat</h3>

    <h3 class="mb-4">Register</h3>

<form  method="POST" >

    <div class="form-group">

         <input class="form-control" placeholder="username" name="username" required>
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="password" name="password" required>
    </div>
     <div class="form-group">
        <input class="form-control" placeholder="password" name="password_equal" required>
    </div>

    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
    {{ csrf_token }}

</form>

</div>

{% endblock %}